body{
    margin: 0;
}
.header{
    background: rgb(0, 0, 0);
    width:1000px;
    height: 100px;
}
.image{
    background-color: rgb(0, 0, 0);
   float: left;
   width: 10%;
   height: 100%;
   size:100%;
   
}
.name{
    width: 90%;
height: 100%;
background-color: rgb(0, 0, 0);
float: left;
color: rgb(255, 0, 0);


}
.sub{
    color: rgb(157, 255, 0);
    font-size: medium;
    font-size: 18px;
}
.nd{
    background: springgreen;
    width: 1000px;
    height: 100px;
}
.photos{
    background-color: #735f3e;
    width: 25%;
    height: 100%;
    
    color: #00ff2a;
float: left;
}
.map{
    background-color: khaki;
    width:21%;
    height: 100%;
    float: left;
    }
.vazhipad{ width:21%;
    height: 100%;
    float: left;
    background-color: coral;

}
.insta{
    background-color: blue;
    width:11%;
    height: 100%;
    float: left;
}
.fb{width:11%;
    height: 100%;
    float: left;
    background-color: rgb(165, 42, 138);
}
.youtube{
    width:11%;
    height: 100%;
    float: left;
    background-color: chartreuse;
}
.three{
 background: cornflowerblue;
 width: 1000px;
height: 750px;
}
.intro{
    width: 75%;
    height: 100%;
    background-color: rgb(20, 33, 220);
    float: left;
    background-image:url(image/main.jpeg);
    

}
.yyy{
    color: rgba(255, 0, 200, 0.863);
   font-size: larger;
   font-style: italic;
   padding: 30px;
  font-style: italic;
  background-color: rgb(227, 252, 0);
}
.vazhi{
    background-color: rgb(255, 115, 0);
    height: 100%;
    width: 25%;
    float:left;
    }
.for{background: lime;
    width: 1000px;
    height: 200px;

}